<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
  <style>
    body{
      text-align: center;
    }
    a{
      text-decoration: none;
    }
  </style>
</head>
<body >

  <header class="w3-container w3-blue w3-center">
    <h1>Game Rating Prediction</h1>
  </header>

  <h4><p class="w3-text-red">Write the review here to know the predicted rating</p></h4>

  <form action="/" method='POST' >
    <textarea name="review" rows="20" cols="90"></textarea>
    <br><br>
    <input type="submit" class="w3-btn w3-blue" > 
  </form>

  <h4><p id="result" class="w3-text-green">Rating Predicted : {{result}}</p></h4>

  <div class ="w3-center">
    <iframe width="700" height="350" src="https://www.youtube.com/embed/DKhssm9wXPw">
    </iframe>
  </div>

  <h2><a href="https://github.com/elisontuscano/Game-Review-Predictor" class="w3-text-red">Link for Github Code</a></h2>

  <h2><a href="https://www.youtube.com/watch?v=DKhssm9wXPw&feature=youtu.be" class="w3-text-green">Link for Youtube Video</a></h2>

  <h2><a href="http://elisontuscano.uta.cloud/cv/Blog.html" class="w3-text-green">Link for Blog</a></h2>

</body>
</html>
